//The icon used by the Explorer (i.e. the programs icon) is the
// first icon in the executable and the icons are sorted both by their order
// and alphabetically (!), so put this icon first and give it a name
// starting with "a"

amadeus ICON "Assets/favicon.ico"

documentIcon ICON "Assets/AddDocument.ico"
sceneIcon ICON "Assets/AddScene.ico"
characterIcon ICON "Assets/AddCharacter.ico"
locationIcon ICON "Assets/AddLocation.ico"
itemIcon ICON "Assets/AddItem.ico"

addFile RCDATA "Assets/AddFile.png"
addFolder RCDATA "Assets/AddFolder.png"
researchIcon ICON "Assets/Research.ico"
folderIcon ICON "Assets/Folder.ico"
fileIcon ICON "Assets/File.ico"

bookIcon ICON "Assets/Book.ico"
sectionIcon ICON "Assets/Section.ico"
trashIcon ICON "Assets/Trash.ico"

documentPng RCDATA "Assets/AddDocument.png"
scenePng RCDATA "Assets/AddScene.png"
characterPng RCDATA "Assets/AddCharacter.png"
locationPng RCDATA "Assets/AddLocation.png"
itemPng RCDATA "Assets/AddItem.png"
fullScreenPng RCDATA "Assets/FullScreen.png"
fullScreenPngLight RCDATA "Assets/FullScreen-light.png"

cursor RCDATA "Assets/Cursor.png"
newNote RCDATA "Assets/AddNote.png"
newImage RCDATA "Assets/AddImage.png"
newText RCDATA "Assets/AddText.png"
connectionLine RCDATA "Assets/ConnectionLine.png"
resetCenter RCDATA "Assets/ResetCenter.png"

arrowRight RCDATA "Assets/ArrowRight.png"
arrowLeft RCDATA "Assets/ArrowLeft.png"
arrowUp RCDATA "Assets/ArrowUp.png"
arrowDown RCDATA "Assets/ArrowDown.png"
plus RCDATA "Assets/PlusIcon.png"
minus RCDATA "Assets/MinusIcon.png"

leftAlign RCDATA "Assets/AlignLeft.png"
centerAlign RCDATA "Assets/AlignCenter.png"
centerJustAlign RCDATA "Assets/AlignCenterJust.png"
rightAlign RCDATA "Assets/AlignRight.png"
bold RCDATA "Assets/Bold.png"
italic RCDATA "Assets/Italic.png"
underline RCDATA "Assets/Underline.png"
noteView RCDATA "Assets/NoteView.png"

leftAlignLight RCDATA "Assets/AlignLeft-light.png"
centerAlignLight RCDATA "Assets/AlignCenter-light.png"
centerJustAlignLight RCDATA "Assets/AlignCenterJust-light.png"
rightAlignLight RCDATA "Assets/AlignRight-light.png"
boldLight RCDATA "Assets/Bold-light.png"
italicLight RCDATA "Assets/Italic-light.png"
underlineLight RCDATA "Assets/Underline-light.png"
noteViewLight RCDATA "Assets/NoteView-light.png"

savePng RCDATA "Assets/Save.png"

// set this to 1 if you don't want to use manifest resource (manifest resource
// is needed to enable visual styles on Windows XP - see docs/msw/winxp.txt
// for more information)
#define wxUSE_NO_MANIFEST 0
#define wxUSE_DPI_AWARE_MANIFEST 1

// this is not always needed but doesn't hurt (except making the executable
// very slightly larger): this file contains the standard icons, cursors, ...
#include "wx/msw/wx.rc"
