//The icon used by the Explorer (i.e. the programs icon) is the
// first icon in the executable and the icons are sorted both by their order
// and alphabetically (!), so put this icon first and give it a name
// starting with "a"

amadeus ICON "Assets/MSW/favicon.ico"

documentIcon ICON "Assets/MSW/AddDocument.ico"
sceneIcon ICON "Assets/MSW/AddScene.ico"
characterIcon ICON "Assets/MSW/AddCharacter.ico"
locationIcon ICON "Assets/MSW/AddLocation.ico"
itemIcon ICON "Assets/MSW/AddItem.ico"

addFile RCDATA "Assets/MSW/AddFile.png"
addFolder RCDATA "Assets/MSW/AddFolder.png"
researchIcon ICON "Assets/MSW/Research.ico"
folderIcon ICON "Assets/MSW/Folder.ico"
fileIcon ICON "Assets/MSW/File.ico"

bookIcon ICON "Assets/MSW/Book.ico"
sectionIcon ICON "Assets/MSW/Section.ico"
trashIcon ICON "Assets/MSW/Trash.ico"

documentPng RCDATA "Assets/MSW/AddDocument.png"
scenePng RCDATA "Assets/MSW/AddScene.png"
characterPng RCDATA "Assets/MSW/AddCharacter.png"
locationPng RCDATA "Assets/MSW/AddLocation.png"
itemPng RCDATA "Assets/MSW/AddItem.png"
fullScreenPng RCDATA "Assets/MSW/FullScreen.png"
fullScreenPngLight RCDATA "Assets/MSW/FullScreen-light.png"

cursor RCDATA "Assets/MSW/Cursor.png"
newNote RCDATA "Assets/MSW/AddNote.png"
newImage RCDATA "Assets/MSW/AddImage.png"
newText RCDATA "Assets/MSW/AddText.png"
connectionLine RCDATA "Assets/MSW/ConnectionLine.png"
resetCenter RCDATA "Assets/MSW/ResetCenter.png"

arrowRight RCDATA "Assets/MSW/ArrowRight.png"
arrowLeft RCDATA "Assets/MSW/ArrowLeft.png"
arrowUp RCDATA "Assets/MSW/ArrowUp.png"
arrowDown RCDATA "Assets/MSW/ArrowDown.png"
plus RCDATA "Assets/MSW/PlusIcon.png"
minus RCDATA "Assets/MSW/MinusIcon.png"

leftAlign RCDATA "Assets/MSW/AlignLeft.png"
centerAlign RCDATA "Assets/MSW/AlignCenter.png"
centerJustAlign RCDATA "Assets/MSW/AlignCenterJust.png"
rightAlign RCDATA "Assets/MSW/AlignRight.png"
bold RCDATA "Assets/MSW/Bold.png"
italic RCDATA "Assets/MSW/Italic.png"
underline RCDATA "Assets/MSW/Underline.png"
noteView RCDATA "Assets/MSW/NoteView.png"

leftAlignLight RCDATA "Assets/MSW/AlignLeft-light.png"
centerAlignLight RCDATA "Assets/MSW/AlignCenter-light.png"
centerJustAlignLight RCDATA "Assets/MSW/AlignCenterJust-light.png"
rightAlignLight RCDATA "Assets/MSW/AlignRight-light.png"
boldLight RCDATA "Assets/MSW/Bold-light.png"
italicLight RCDATA "Assets/MSW/Italic-light.png"
underlineLight RCDATA "Assets/MSW/Underline-light.png"
noteViewLight RCDATA "Assets/MSW/NoteView-light.png"

savePng RCDATA "Assets/MSW/Save.png"

// set this to 1 if you don't want to use manifest resource (manifest resource
// is needed to enable visual styles on Windows XP - see docs/msw/winxp.txt
// for more information)
#define wxUSE_NO_MANIFEST 0
#define wxUSE_DPI_AWARE_MANIFEST 1

// this is not always needed but doesn't hurt (except making the executable
// very slightly larger): this file contains the standard icons, cursors, ...
#include "wx/msw/wx.rc"
